<main class="contenedor">
  <form action="/crear-cuenta" method="POST" class="default-form">
    <div class="campo">
      <label for="">Nombre</label>
      <input type="text" name="nombre" placeholder="Tu nombre">
    </div>

    <div class="campo">
      <label for="">E-mail</label>
      <input type="email" name="email" placeholder="Tu E-mail">
    </div>

    <div class="campo">
      <label for="">Password</label>
      <input type="password" name="password" placeholder="Tu password">
    </div>

    <div class="campo">
      <label for="">Repetir Password</label>
      <input type="password" name="confirmar" placeholder="Repetir password">
    </div>
    <div class="campo acciones">
      <a href="/iniciar-session">Volver a iniciar sesión</a>
    </div>

    <div class="campo">
      <input type="submit" value="Crear cuenta" class="btn btn-azul">
    </div>
  </form>
</main>